
# Cấu hình thanh toán VNPAY (Sandbox)
VNP_TMN_CODE=your_vnp_tmn_code
VNP_HASH_SECRET=your_vnp_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost/e-learning-project/public/index.php?action=vnpay_return
